{{define "base"}}
<!DOCTYPE html>
<html lang="tr" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Falsis{{end}}</title>
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body class="bg-zinc-950 text-zinc-100 min-h-screen font-sans antialiased selection:bg-violet-500 selection:text-white">

    {{template "navbar" .}}

    <main class="max-w-4xl mx-auto px-4 py-12">
        {{block "content" .}}{{end}}
    </main>

</body>
</html>
{{end}}