 ::section{
  color: #6063ff;
  background-color: #22242e;
}
:root{
  --yesil:  #43b581;
  --sari: #f1ed62;
}
.donme{
  -moz-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.donme:hover{
  -moz-transform: rotate(360deg);
-o-transform: rotate (360deg);
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}
.pp{
width: 150px;
height: 150px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
.dnd{
width: 150px;
height: 150px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
border: 2px solid #F04747;
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
.idle{
width: 150px;
height: 150px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
border: 2px solid #faa61a;
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
.offline{
width: 150px;
height: 150px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
border: 2px solid grey;
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
.online{
width: 150px;
height: 150px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
border: 2px solid var(--yesil);
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
.card{
    margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.status{
          display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: rgb(24, 26, 34);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: rgb(24, 26, 34);
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: rgb(24, 26, 34);
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: transparent;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: rgb(24, 26, 34);
  color: #fff;
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
  background-color: rgb(24, 26, 34);
  color: #fff;
}
.discord{
    color: #fff;
}
.github{
    color: #fff;
}
.link{
  color: #6063ff;
    opacity: 0.7;
}
.link:hover{
  color: #6063ff;
    opacity: 0.9;
}
.renkcubugu{
  background-color: #7289da;
}
.renkcubugu-footer{
  background-color: #71ff62;
  height: 5px;
  width: 1348px;
}
.image{
border-radius: 15px;
border: 2px solid var(--yesil);
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
.image2{
border-radius: 15px;
border: 2px solid var(--sari);
-webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    cursor: pointer;
}
body{
background-color: rgb(24, 26, 34);
background-repeat: false;
font-family: "Roboto", sans-serif;
color: #6063ff;
word-wrap: break-word;
}
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@-webkit-keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
