@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@media{
.class{
-woz-max-width: 720px;
}
}
/* RENKLER */
:root{
	--blurple:  #5865F2;
	--green: #57F287;
	--yellow:  #FEE75C;
	--pink: #EB459E;
	--red:  #ED4245;
	--grey:  #99aab5;
	--dark: #2c2f33;
	--black: #23272a;
	--orange:  #faa61a;
	--background:  rgb(24, 26, 34);
}
/* PROFIL TASARIMLARI */
.profile-idle{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   border: 2px solid var(--orange);
   -webkit-animation: smooth-shake 10s ease-in-out infinite;
   animation: smooth-shake 10s ease-in-out infinite;
}
.profile-online{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   border: 2px solid var(--green);
   -webkit-animation: smooth-shake 10s ease-in-out infinite;
   animation: smooth-shake 10s ease-in-out infinite;
}
.profile-offline{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   border: 2px solid var(--grey);
   -webkit-animation: smooth-shake 10s ease-in-out infinite;
   animation: smooth-shake 10s ease-in-out infinite;
}
.profile-dnd{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   border: 2px solid var(--red);
   -webkit-animation: smooth-shake 10s ease-in-out infinite;
   animation: smooth-shake 10s ease-in-out infinite;
}
/* LINKLER */
.link{
  color: var(--pink);
  opacity: 0.7;
  text-decoration: none
}
.link:hover{
  color: var(--pink);
  opacity: 0.9;
  text-decoration: none
}
/* RESIMLER */
.image-spotify{
   padding-right: 5px;
   padding-left: 10px;
}
.image-other{
   padding-right: 5px;
   padding-left: 10px;
}
.durum-yazisi1{
  position: absolute;
  font-size: 13px;
}
/* BODY */
body{
background-color: var(--background);
background-repeat: false;
font-family: "Quicksand", sans-serif;
color: var(--blurple);
word-wrap: break-word;
}
.card{
  padding-bottom: 25px;
  padding-top: 25px;
  background-color:  var(--black);
  color:  white;
  background-repeat: false;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  border-radius: 10px;
}
abbr {
    text-decoration: none
}
h1 {
  color: var(--pink);
}
.github{
  color: white;
  opacity: 1.0;
}
.github:hover{
  color: white;
  opacity: 0.9;
}
.tag{
color: var(--grey);
font-family: "Quicksand", sans-serif;
font-size: 17px;
}
/* ----------------------------------------------------------------------------- */
/* ANIMASYONLAR */
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@-webkit-keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/* ----------------------------------------------------------------------------- */