<div class="py-10 text-white border-t border-zinc-600/20 mt-5 ">
  <p class="float-left">© 2021 - 2022 <!-- -->FalsisDev<!-- --> - All Rights Reserved.<!-- --></p>
  <p class="text-white float-right">Designed with <!-- --><i class="fa fa-heart mx-1 text-pink-400"></i> <!-- -->by<!-- --> <!-- --><a class="hover:text-green-400 font-medium" href="/">Falsis</a> & <a class="hover:text-green-400 font-medium" href="https://roxza.me">Roxza</a></p>
</div>